// theme 1 - cool vs warm
// https://designschool.canva.com/blog/website-color-schemes/
// light/dark generated via https://material.io/color/

// navy blue
$navy-blue_normal: #18121e;
$navy-blue_light: #3e3845;
$navy-blue_dark: #000000; //aka black

// gunmetal
$gunmental_normal: #233237;
$gunmental_light: #4c5b61;
$gunmental_dark: #000a11;

// rusty red 
$rusty-red_normal: #984b43;
$rusty-red_light: #cc786e;
$rusty-red_dark: #66201c;

// warm yellow
$warm-yellow_normal: #eac67a;
$warm-yellow_light: #fff9aa;
$warm-yellow_dark: #b6964c;